<!DOCTYPE HTML>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
        <link rel="stylesheet" href="styles/shared.css">
        <link rel="stylesheet" href="styles/about.css">
        <link rel="shortcut icon" href="images/logo.png" type="image/x-icon">
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
        <title>BC-Eats</title>
    </head>
    <body>
        <header>
            <nav class="navbar navbar-expand-lg bg-white navbar-light fixed-top py-2">
                <a class="navbar-brand logo" href="/">
                    <img src="images/logo.png" alt="">
                    <div class="logo-text">
                        <strong>BULLDOG EATS</strong>
                        <br>
                        Finding Free Excess Food
                    </div>
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="collapsibleNavbar">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Hi, <% if (user) { %> user.email} <% } %> !</a>
                            <div class="dropdown-menu">
                            <a class="dropdown-item" href="/">Another action</a>
                            <a class="dropdown-item" href="/logout">Sign out</a>
                            </div>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/feed">Find food</a>
                        </li>  
                        <li class="nav-item">
                            <a class="nav-link" href="/newpost">Provide food</a>
                        </li>
                        <li class="nav-item active">
                        <a class="nav-link" href="/about">About us</a>
                        </li>
                    </ul>
                </div>
              </nav>      
        </header>
        <main>
            <section class="top-section">
                <h2>About Us</h2>
            </section>

            <section class="middle-section">
                <div class="middle-section-body">
                    <div class="">
                        <img src="images/delfi-de-la-rua-2.jpg" alt="school building">
                    </div>
                    <div class="row container">
                        <div class="col">
                            <h2>About Us & Our Mission</h2>
                        </div>
                        <br style="clear:both;"/>
                        <div class="col">
                            <h5><strong>Our mission is to connect hungry students with free excess food after campus events</strong></h5>
                            <p>
                                Bulldog Eats is a student led, student run project to connect hungry students with free excess food after campus events on the Bellevue College campus. 
                                We are developing a web and a mobile application to allow event organizers to create new food posts and notify the campus community when there is excess food available.
                                By launching BC Eats, we will help reduce food waste, contribute to the campus sustainability goals, and have a positive environmental and social impact on the Bellevue College campus community.
                            </p>
                            <br>
                            <p> More on our Facebook and Instagram </p>
                        </div>
                    </div>
                    <hr>
                    <div class="row container ">
                        <div class="col">
                            <h2>Our Team</h2>
                        </div>
                        <br style="clear:both;"/>
                        <div class="col col-left">
                            <div class="member-card">
                                <img class="rounded-img" src="images/jason.jpg" alt="" srcset="">
                                <h5>Jason Guo</h5>
                                <h5>Product Manager</h5>
                                <p>
                                    I work closely with my team members to ensure that we are meeting the needs of our potential users. 
                                    I lead agile/scrum ceremonies within the team, prioritize product features, manage recruitment efforts, and foster a collaborative team environment. 
                                    Externally, I communicate with stakeholders from Bellevue College to update progress, conduct user research, and clear any administrative barriers.
                                </p>
                            </div>
                            <div class="member-card">
                                <img class="rounded-img" src="images/patrick.jpeg" alt="" srcset="">
                                <h5>Patrick Render</h5>
                                <h5>Web Developer</h5>
                                <p>
                                    My work focuses on building the web application for BC-Eats. 
                                    I collaborate both with other web developers and with the product manager to implement features that our clients need. 
                                    As a full stack developer, I work to implement both the back-end software for the website that manages and stores application data as well as the front-end interface that allows users to easily utilize the tools our service offers.
                                </p>
                            </div>
                            <div class="member-card">
                                <img class="rounded-img" src="images/frank.jpg" alt="" srcset="">
                                <h5>Francois Mukaba</h5>
                                <h5>Web Developer</h5>
                                <p>
                                    I work alongside Patrick to build the web application for BC Eats. 
                                    I help implement the front-end designed by our UI/UX team and core functionalities which allows us to fulfill our goals.
                                </p>
                            </div>
                            <div class="member-card">
                                <img class="rounded-img" src="images/marcella.jpg" alt="" srcset="">
                                <h5>Marcella Huang</h5>
                                <h5>Mobile App Developer</h5>
                                <p>
                                    I worked on the app version of BC eats and helped create the user interface to allow easy navigation and a comfortable experience for users. 
                                    I also work on the backend of the app to allow students and faculty to create posts and save any information and data to smoothly run the app.
                                </p>
                            </div>
                        </div>
                        <br style="clear:both;"/>
                        <div class="col">
                            <div class="member-card">
                                <img class="rounded-img" src="images/hannah.jpg" alt="" srcset="">
                                <h5>Hannah Mei</h5>
                                <h5>UX/UI Design Lead</h5>
                                <p>
                                    As a senior UX student in UW, she devote herself into UX field with a strong passion. 
                                    In this summer, as the first designer invited to this project, she balance her internship job and this project properly.
                                    Help the team researching, designing logo, and testing prototype. Lead UX team designing website and mobile app, collaborating with product manager to ship mvp.
                                </p>
                            </div>
                            <div class="member-card">
                                <img class="rounded-img" src="images/koyo.jpeg" alt="" srcset="">
                                <h5>Koyo Nakamura</h5>
                                <h5>UX/UI Designer</h5>
                                <p>
                                    I worked alongside Hannah and Sandra to design web and mobile versions of the BC Eats project. 
                                    Outside of UX, I love playing video games and watching Twitch! I also like playing soccer (though I can't really play right now due to COVID) and other random thing.
                                </p>
                            </div>
                            <div class="member-card">
                                <img class="rounded-img" src="images/sandra.jpg" alt="" srcset="">
                                <h5>Sandra Kov</h5>
                                <h5>UX/UI Designer</h5>
                                <p>
                                    I work in the UX/UI design team to revise and optimize the layouts for mobile and web development. 
                                    I love to research and learn new information for hours on end. 
                                    I love being a creative, a singer, and a big sister for my baby brother!
                                </p>
                            </div>
                            <div class="member-card">
                                <img class="rounded-img" src="images/priyanka.jpg" alt="" srcset="">
                                <h5>Priyanka ganesha</h5>
                                <h5>Mobile App Developer</h5>
                                <p>
                                    I work alongside Marcella on the Mobile Development team at Bulldog Eats. 
                                    I use Flutter and Dart to develop iOS and Android applications. I also participate in agile/scrum ceremonies within the team. 
                                    I'm a sophomore at the University of Washington, Seattle studying computer science. 
                                    Outside of this, I like to read and play the violin.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </main> 
    </body>
</html>