<!DOCTYPE HTML>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../styles/index.css">
    
        <!-- update the version number as needed -->
        <script defer src="/__/firebase/7.16.1/firebase-app.js"></script>
        <!-- include only the Firebase features as you need -->
        <script defer src="/__/firebase/7.16.1/firebase-auth.js"></script>
        <script defer src="/__/firebase/7.16.1/firebase-firestore.js"></script>
        <script defer src="/__/firebase/7.16.1/firebase-messaging.js"></script>
        <script defer src="/__/firebase/7.16.1/firebase-storage.js"></script>
        <!-- initialize the SDK after all desired features are loaded -->
        <script defer src="/__/firebase/init.js"></script>
        <title>BC-Eats</title>
    </head>
    <body>
        <nav>
            <ul>
                <li class="li-padding"><a href="/home">Home</a></li>
                <li class="li-padding"><a href="/feed">Feed</a></li>
                <li class="li-padding"><a href="/newpost">New Post</a></li>
                <li class="li-padding"><a href="/editpost">Edit Post</a></li> 
            </ul>
        </nav>
        <div class="main-header">
            <h1>Food Available Near You</h1>
            <div id="feed">
                
                <p>  </p>
            </div>
        </div>
    </body>
</html>