<!DOCTYPE HTML>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="styles/index.css">
        <title>BC-Eats</title>
    </head>
    <body>
        <nav>
            <ul>
                <li class="li-padding"><a href="/home">Home</a></li>
                <li class="li-padding"><a href="/feed">Feed</a></li>
                <li class="li-padding"><a href="/newpost">New Post</a></li>
                <li class="li-padding"><a href="/editpost">Edit Post</a></li> 
            </ul>
        </nav>
        <div class="main-header">
            <h1>Food Available Near You</h1>
            <div id="feed">
                <% posts.forEach(post => { %>
                    <h4><%- post.data().title %></h4>
                    <p>location : <%- post.data().location %></p>
                    <p>description : <%- post.data().description %></p>
                    <p>image : <%- post.data().image %></p>
                <% }); %>   
            </div>
        </div>
    </body>
</html>