<!DOCTYPE HTML>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="styles/index.css">
        <title>Login</title>
    </head>
    <body>
        <nav>
            <ul>
                <li class="li-padding"><a href="/home">Home</a></li>
                <li class="li-padding"><a href="/feed">Feed</a></li>
                <li class="li-padding"><a href="/newpost">New Post</a></li>
                <li class="li-padding"><a href="/editpost">Edit Post</a></li>
            </ul>
        </nav>
        <div class="main-header">
            <h1>Post My Event Excess Food</h1>
            <h2>To make a post or edit your previous posts, log in as a verified user</h2>
        </div>
        <div class="main-login">
            <form action="">
                <label for="id">Student/Employee ID</label>
                <input type="text" id="id" name="id">
                <label for="pass">Password</label>
                <input type="password" id="pass" name="pass">
                <input type="submit" value="Log In"><br>
            </form>
        </div>
        <div class="main-signup">
            <p>First time user? Enter your Student/Employee ID and then go to Student Programs to show
                the front desk staff you’re affiliated with Bellevue College and you will be given a temporary password
            </p>
            <p>You will be able to change your password after the first time you log in</p>
            <form action="">
                <label for="id">Student/Employee ID</label>
                <input type="text" id="id" name="id">
                <input type="submit" value="Submit"><br>
            </form>
        </div>
    </body>
</html>