<!DOCTYPE HTML>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="styles/index.css">
        <script src="javascripts/index.js"></script>
        <title>Options</title>
    </head>
    <body>
        <nav>
            <ul>
                <li class="li-padding"><a href="/home">Home</a></li>
                <li class="li-padding"><a href="/feed">Feed</a></li>
                <li class="li-padding"><a href="/newpost">New Post</a></li>
                <li class="li-padding"><a href="/editpost">Edit Post</a></li> 
            </ul>
        </nav>
        <div class="main-header">
            <h1>Hello, choose an option below</h1>
        </div>
        <form action="./editpost.html">
            <input type="submit" value="Edit my previous posts">
        </form>
        <form action="./newpost.html">
            <input type="submit" value="Make a new post">
        </form>
    </body>
</html>