<!DOCTYPE HTML>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
        <link rel="stylesheet" href="styles/index.css">
        <script src="/__/firebase/7.18.0/firebase-app.js"></script>
        <script defer src="https://www.gstatic.com/firebasejs/7.18.0/firebase-auth.js"></script>
        <script defer src="https://www.gstatic.com/firebasejs/7.18.0/firebase-firestore.js"></script>
        <script src="/__/firebase/init.js"></script>
        <script src="javascripts/auth.js"></script>
        <title>BC-Eats</title>
    </head>
    <body>
        <form>
            <label for="email">email</label>
            <input type="text" id="email">
            <label for="password">password</label>
            <input type="text" id="password"> 
            <input type="submit" value="Submit">
        </form>
        <button id="login">Login</button>

        <script>
                document.getElementById('login').addEventListener('click', login, false);
        </script>
    </body>
</html>