<!DOCTYPE HTML>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="styles/index.css">
        <title>BC-Eats</title>
    </head>
    <body>

        <form action="/login" method="POST">
            <label for="email">email</label>
            <input type="text" id="email">
            <label for="password">password</label>
            <input type="text" id="password"> 
            <input type="submit" value="Submit">
        </form>
        <a href="/loginBC"> BC email Login </a>


    </body>
</html>