<!DOCTYPE HTML>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="styles/index.css">
        <title>BC-Eats</title>
    </head>
    <body>
        <nav>
            <ul>
                <li class="li-padding"><a href="/home">Home</a></li>
                <li class="li-padding"><a href="/feed">Feed</a></li>
                <li class="li-padding"><a href="/newpost">New Post</a></li>
                <li class="li-padding"><a href="/editpost">Edit Post</a></li>   
            </ul>
        </nav>
        <div class="main-header">
            <h1>Make a New Post</h1>
        </div>

        <form action="/post" method="post">
            <p>Title <input name="title" type="text" id="title"></p>
            <p>Location <input name="location" type="text" id="location"></p>
            <p>Available until <input name="available_until" type="datetime-local" id="time"></p>
            <p>Description <input name="description" type="text" id="description"></p>
            <p>Image <input name="image" type="file" accept=".jpg" id="image"></p>  

            <input type="submit" value="Submit">
        </form>
    </body>
</html>