section {
    margin-top: 50px;
} 

.top-section {
    height: 50vh;
    background-color: #FFD6ECD4;
}

.top-section h2 {
    font-size: 58px;
    font-weight: bold;
    font-family: sans-serif;
    color: #4F5C65;
    text-align: center;
    padding-top: 7% ;
}

.post-img-div {
    padding-left: 10%;
    /* width: 200px;
    height: 300px; */
    margin-top: 2%;
    margin-bottom: 2%;
}

.post-img {
    width: 70%;
    height: 90%;
    border-radius: 10px;
    background-clip: border-box;
}

.post-info-div {
    margin-top: 4%;
    margin-bottom: 4%;
}

.text-center {
    text-align: center;
    margin-bottom: 40px;
}   

.text-left {
    text-align: left;
}