/* landing page */
section:nth-child(even) {
    background-color:#F7FAFC
}

section {
    margin-bottom: 50px; /* might not need*/
    padding: 100px;
}

.solid-border {
    border: solid;
}

#welcome {
    background-color: #FFD6ECD4;
}

#welcome-divs {
    padding-top: 5%;
    padding-left: 5%;;
}

.welcome-text-div {
    padding-left: 10%;
    justify-content: center;
    /* font-weight: bold; */
}

.heading {
    font-size: 58px;
    font-weight: bold;
    font-family: sans-serif;
    color: #4F5C65;
}

.welcome-img-div {
    padding-left: 10%;
    width: 398px;
    height: 234px;
}

.welcome-img {
    width: 100%;
    height: 100%;
}

.grid-container {
    display: grid;
    column-gap: 30px;
    grid-auto-flow: column;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}
  
.grid-item {
    background-color: #E8EDF4;
    border: 1px solid #FFFFFF;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: center;
    padding-top: 50px;
    transition: all 350ms ease;
    text-align: center;
    border-radius: 5%;
}

.grid-item img {
    height: 35px;
    width: 35px;
}

.grid-item h4 {
    font-family: Montserrat, sans-serif;
    color: #4f5c65;
    font-weight: 800;
    font-size: medium;
    margin-top: 30px;
    margin-bottom: 30px;
}

.grid-item p {
    font-size: small;
    font-family: sans-serif;
    margin-left: 20px;
    margin-right: 20px;
    color: #4F5C65;
}

.grid-item:hover {
    border-style: solid;
    border-width: 2px;
    border-color: #CC9A79;
    background-color: rgba(204, 154, 121, 0.1);
    -webkit-transform: translate(0px, -4px);
    -ms-transform: translate(0px, -4px);
    transform: translate(0px, -4px);
}

.text-center {
    text-align: center;
    margin-bottom: 40px;
}   

.text-left {
    text-align: left;
}
  



