/* Shared */

body { 
    background-color: rgb(250, 249, 255);
}

header {
   margin-bottom: 40px;
}

main {
    margin-top: 100px;
}

footer {
    background-color:gainsboro;
    padding-left: 5px;
    border: black solid thin;
    border-radius: 8px;
    text-align: center;
    color: maroon;
}
.navbar-custom {
    background-color: #1dd3bd
}

.navbar-nav > li{
    padding-left: 15px;
    font-family: Georgia;
}

.navbar-dark .navbar-nav .nav-item.active .nav-link {
    color: yellow; 
} 

.navbar-dark .navbar-nav .nav-link:hover {
    color: yellow;
}

button {
    background-color: brown;
    color: white;
    border-radius: 20px;
}

/* landing page */

#welcome {
    background-color: pink;
} 

.landing {
    margin-bottom: 50px;
    padding: 100px;
}
